@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}
body{
    background-color: rgb(230, 230, 230);    
}
hr{
    opacity: 30%;
}
a{
    text-decoration-line: none;
    color: white;
}

/*ayuda*/
#ayuda{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
/*ayuda*/

/*bienvenida*/
#bienvenida{
    text-align: center;
    background-color: rgb(183,20,20);
    color: white;
    padding: 35px;
    font-weight: 400;
}
/*bienvenidos*/

/*nav*/
nav{
    background-color: rgb(53, 51, 51);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
}

nav ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#nav-der{
    margin-left: 100px;
}

#nav-izq{
    margin-right: 100px;
}

#header-logo{
    width: 100%;
    text-align: center;
    margin-top: -88px;
}

/*menu*/
#menu--label-1{
    transform: rotateY(180deg);
    opacity: 0;
    pointer-events: none;
}

#menu--checkbox:checked ~ #menu--container{
    opacity: 1;
    pointer-events: all;
}

#menu--container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}

#menu--background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: opacity .2s;
}

#menu{
    z-index: 2;
    display: 2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4cm;
    background-color: white;
}
/*menu*/
/*nav*/

/*footer*/
footer{
    text-align: center;
    width: 100%;
    background-color: rgb(53, 51, 51);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer small{
    opacity: 50%;
    z-index: 0;
}

/*footer--modal*/
#footer--modal--label-1{
    text-decoration-line: underline;
    color: rgb(34,173,62);
    cursor: pointer;
}

#footer--modal--label-1:hover{
    color: white;
}

#footer--modal--checkbox:checked ~ #footer--modal--container{
    opacity: 1;
    pointer-events: all;
}

#footer--modal--container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}

#footer--modal--background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#footer--modal--label-3{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 3;
    transition: all .2s;
}

#footer--modal--label-3:hover{
    opacity: 50%;
    cursor: pointer;
}

#footer--modal--label-3 img{
    width: 35px;
}

#footer--modal{
    z-index: 2;
    position: fixed;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
    margin: 25px;
}

#footer--modal ul{
    list-style: none;
}

#footer--modal--header img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    width: 100%;
}

#redes-sociales li a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 30px;
}

#redes-sociales li a img{
    width: 35px;
    margin-right: 10px;
}

/*distinciones*/
.discord{
    background-color: rgba(47, 49, 54);
}

.foro{
    background-color: rgb(34,173,62);
}

/*footer--modal*/
/*footer*/

/*media-querys*/
@media (max-width: 768px){
    nav{
        display: flex;
        justify-content: right;
    }

    nav ul{
        opacity: 0;
        pointer-events: none;
    }

    #menu--label-1{
        opacity: 1;
        pointer-events: all;
    }
}