@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}
body{
    background-color: rgb(230, 230, 230);    
}
hr{
    opacity: 30%;
}
a{
    text-decoration-line: none;
    color: white;
}

/*ayuda*/
#ayuda{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
/*ayuda*/

/*bienvenida*/
#bienvenida{
    text-align: center;
    background-color: rgb(183,20,20);
    color: white;
    padding: 35px;
    font-weight: 400;
}
/*bienvenidos*/

/*nav*/
nav{
    background-color: rgb(53, 51, 51);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
}

nav ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#nav-der{
    margin-left: 100px;
}

#nav-izq{
    margin-right: 100px;
}

#header-logo{
    width: 100%;
    text-align: center;
    margin-top: -88px;
}

/*menu*/
#menu--label-1{
    transform: rotateY(180deg);
    opacity: 0;
    pointer-events: none;
    transition: .2s;
}

#menu--label-1:active{
    opacity: 50%;
}

#menu--checkbox:checked ~ #menu--container{
    opacity: 1;
    pointer-events: all;
}

#menu--container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}

#menu--background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

#menu{
    z-index: 2;
    display: 2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(230, 230, 230);
    transform: translateY(100%);
    transition: all .2s;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-around;
}

#menu--checkbox:checked ~ #menu--container #menu{
    transform: translateY(0);
}

#menu a img{
    background-color: rgb(53, 51, 51);
    padding: 12px;
    border-radius: 20px;
    width: 35px;
}

#menu a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(53, 51, 51);
    font-weight: 900;
}

.menu-ubication{
    opacity: 70%;
}

/*menu*/
/*nav*/

/*footer*/
footer{
    text-align: center;
    width: auto;
    background-color: rgb(53, 51, 51);
    color: white;
    padding: 30px;
}

footer small{
    font-weight: 500;
    color: gray;
}

footer hr{
    margin-top: 20px;
    margin-bottom: 15px;
    width: 80px;
    opacity: 15%;
    left: 50%;
    margin-left: -40px;
    position: relative;
}

/*footer--modal*/
footer small span{
    color: rgb(24, 116, 42);
}


#footer--modal{
    max-width: 400px;
}

#footer--modal ul{
    list-style: none;
}

#footer--modal--header img{
    width: 100%;
}

#redes-sociales li a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

#redes-sociales li a img{
    width: 35px;
    margin-right: 10px;
    transition: all .2s;
}

#redes-sociales li a p{
    transition: all .2s;
}

#redes-sociales li a:hover p{
    opacity: 0;
    transform: translateX(20%);
}

/*distinciones*/
.discord{
    background-color: rgba(47, 49, 54);
    margin-bottom: 20px;
}

.discord:hover img{
    transform: translateX(45px);
}

.foro{
    background-color: rgb(34,173,62);
}

.foro:hover img{
    transform: translateX(30px);
}
/*footer--modal*/
/*footer*/

/*media-querys*/
@media (max-width: 768px){
    nav{
        display: flex;
        justify-content: right;
    }

    nav ul{
        opacity: 0;
        pointer-events: none;
    }

    #menu--label-1{
        opacity: 1;
        pointer-events: all;
    }
}

@media (max-width: 464px){
    #footer--modal{
        left: 0;
        margin-left: 0;
    }

    #footer--modal--header img{
        object-fit: contain;
    }
}