/*header*/
header{
    width: 100%;
    height: 15vh;
    position: relative;
    display: inline-block;
}

#header_background{
    object-fit: cover;
    width: 100%;
    height: 100%;
    text-align: center;
}
#header_title{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*section1*/
section{
    color: rgb(43, 43, 43);
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

section p{
    margin-top: 15px;
}