/*section*/
section{
    display: flex;
    justify-content: left; 
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

section p, section h1{
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
}

#iframe-discord{
    margin-right: 25px;
    margin-bottom: 25px;
    width: 800px;
    height: 600px;
}

#join-button{
    background-color: rgb(192, 57, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-weight: 800;
    font-size: 30px;
    padding: 20px;
    margin-left: 25px;
    border-radius: 5px;
}

#join-button p{
    margin-left: 0;
    transition: all .2s;
}

#join-button:hover p{
    opacity: 0;
    transform: translateX(50%);
}

#join-button:hover img{
    transform: translateX(60px);
}

#join-button img{
    max-width: 60px;
    object-fit: contain;
    margin-right: 10px;
    transition: all .2s;
}

/*section*/

/*media-querys*/
@media (max-width: 1024px){
    section{
        flex-wrap: wrap;
        padding-bottom: 0px;
    }

    #iframe-discord{
        margin: 25px;
        width: 100%;
    }

    #join-button{
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
    }
}