/*section1*/
section{
    color: rgb(43, 43, 43);
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

/*alerta*/
#alerta{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border-left: solid rgb(192, 57, 43) 8px;
    width: fit-content;
}
/*alerta*/

/*formulario*/
form input{
    outline: none;
    border: none;
    padding: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

form input[type="submit"]{
    font-weight: 800;
    color: white;
    background-color: rgb(192, 57, 43);
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

form input[type="submit"]:hover{
    opacity: 90%;
}